{
  debug
  admin :2019
  log {
    output stdout
    format console
    level DEBUG
  }
   email cert@{$DEPLOY_DOMAIN}.com
}

{$DEPLOY_DOMAIN}, *.{$DEPLOY_DOMAIN} {
  tls {
    dns cloudflare {$CLOUDFLARE_TOKEN}
  }
  @actual host actual.{$DEPLOY_DOMAIN}
  handle @actual {
    encode gzip zstd
    reverse_proxy actual_server1
  }

  handle {
    respond "Hello!"
  }
}

{$TAILSCALE_DOMAIN} {
  tls {
    get_certificate tailscale
  }

  # doesnt work
  handle /actual* {
      encode gzip zstd
      uri strip_prefix /actual
      reverse_proxy actual_server1 {
          header_up Host actual.{$TAILSCALE_DOMAIN}
      }
  }

  handle {
    respond "Hello tailscale!"
  }
}

:80, localhost {
  #localhost because we need to specify a domain name to enable caddy's auto HTTPS
  #note wildcard certificates are not accepted for localhost
  @external host {$DEPLOY_DOMAIN} *.{$DEPLOY_DOMAIN}
  handle @external {
    abort # Skip this block for external domains
  }

  # Handle localhost requests
  @whoami host whoami.localhost
  handle @whoami {
    reverse_proxy whoami
  }

  handle {
    respond "Hello localhost!"
  }
}
